{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": ["error", { "singleQuote": true, "parser": "flow" }],
    "max-len": ["error", 80],
    "quotes": [2, "single", { "avoidEscape": true }],
    "trailing-comma": [1, { "multiline": "always", "singleline": "never" }]
  },
  "env": {
    "browser": true
  }
}
